@import '../../../assets/styles/config/colors.styl'
.head-quarter-suggested
    .container-card-headquarter
        border-radius 20px
        width 320px
        padding 20px 15px 20px 20px
        background linear-gradient(160deg, $color_light_blue, $color_violet)
        color #fff
        position relative
        transition transform .2s
        &:hover
            transform scale(1.1)
        .widget-headquarter
            .mat-icon
                font-size 20px
                color #fff
        .text-head_quarter_suggested
            font-size 12px
    .widget-icon
        margin-left auto
        position absolute
        right 15px
        top 20px
        bottom 125px
        font-size 70px
        display flex
        align-items center
        color $color_light_blue
    .widget-icon .icon-yellow
        color $color_yellow
    .container-card--footer-left
        .mat-icon
            font-size 12px
    .icon-card-humedity
            color $color_light_blue
    .icon-card-wind
        color $color_pink